<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

<div class="form-group">
            <label>Max:</label>
            <input type="text" name="data.max.value" value="{{data.max.value}}" data-dtype="{{data.max.type}}"/>
        </div>
        <div class="form-group">
            <label>Tests:</label>
            <input type="text" name="data.tests.value" value="{{data.tests.value}}" data-dtype="{{data.tests.type}}"/>
        </div>
        <div class="form-group">
            <label>Description</label>
        </div>
        <div>
            {{editor content=data.description.value target="data.description.value" button=true}}
        </div>
    </form>
