<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
    {{> public/systems/wfrp4e/templates/items/item-header.html}}

    <ol class="item-details">
        <li>
            <label>Quantity</label>
            <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
        </li>
        <li>
            <label>Enc</label>
            <input type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}" data-dtype="{{data.encumbrance.type}}"/>
        </li>       
        <li>
            <label>Price</label>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="GC"/>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="SS"/>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="BP"/>
        </li>
    </ol>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{> public/systems/wfrp4e/templates/items/item-description.html}}


    <div class="tab" data-tab="details">


        
   <!-- <div class="form-group">
            <label>Weapon Type</label>
            <select class = "weapon-type" name="data.weaponType.value" data-dtype="{{data.weaponType.type}}">
                {{#select data.weaponType.value}}
                <option value="Melee Weapon">Melee Weapon</option>
                <option value="Ranged Weapon">Ranged Weapon</option>
                {{/select}}
            </select>
        </div>
-->


        <div class="form-group">
            <label>{{data.availability.label}}</label>
            <select name ="data.availability.value" data-dtype={{data.availability.type}}>
                {{#select data.availability.value}}
                {{#each availability as |avail a|}}
                <option value="{{a}}">{{avail}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
                <label>{{data.armorType.label}}</label>
                <select name ="data.armorType.value" data-dtype={{data.armorType.type}}>
                    {{#select data.armorType.value}}
                    {{#each armorTypes as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            
        <div class="form-group">
                <label>Head: </label>
                <input type="text" name="data.maxAP.head" value="{{data.maxAP.head}}" data-dtype="Number"/>
            </div>

        <div class="form-group">
                <label>Body: </label>
                <input type="text" name="data.maxAP.body" value="{{data.maxAP.body}}" data-dtype="Number"/>
            </div>
        <div class="form-group">
                <label>Left Arm: </label>
                <input type="text" name="data.maxAP.lArm" value="{{data.maxAP.lArm}}" data-dtype="Number"/>
            </div>
        <div class="form-group">
                <label>Right Arm: </label>
                <input type="text" name="data.maxAP.rArm" value="{{data.maxAP.rArm}}" data-dtype="Number"/>
            </div>
        <div class="form-group">
                <label>Left Leg: </label>
                <input type="text" name="data.maxAP.lLeg" value="{{data.maxAP.lLeg}}" data-dtype="Number"/>
            </div>
        <div class="form-group">
                <label>Right Leg: </label>
                <input type="text" name="data.maxAP.rLeg" value="{{data.maxAP.rLeg}}" data-dtype="Number"/>
            </div>

        <div class="form-group">
            <label>{{data.penalty.label}}</label>
            <input type="text" name="data.penalty.value" value="{{data.penalty.value}}" data-dtype="{{data.penalty.type}}"/>
        </div>

        <div class="form-group-stacked">
            <label>Qualities (comma-separated)</label>
            <input type="text" name="data.qualities.value" value="{{data.qualities.value}}" data-dtype="{{data.properties.type}}"/>
        </div>

        <div class="form-group-stacked">
            <label>Flaws (comma-separated)</label>
            <input type="text" name="data.flaws.value" value="{{data.flaws.value}}" data-dtype="{{data.properties.type}}"/>
        </div>

        <div class="form-group-stacked">
            <label>Special<label>
            <input type="text" name="data.special.value" value="{{data.special.value}}" data-dtype="{{data.special.type}}"/>
        </div>
    </div>
</form>
