<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    {{> public/systems/wfrp4e/templates/items/item-header.html}}

    <ol class="item-details">
        <li>
            <label>Quantity</label>
            <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
        </li>
        <li>
            <label>Enc</label>
            <input type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}" data-dtype="{{data.encumbrance.type}}"/>
        </li>       
        <li>
            <label>Price</label>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="GC"/>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="SS"/>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}" placeholder="BP"/>
        </li>
    </ol>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{> public/systems/wfrp4e/templates/items/item-description.html}}


    <div class="tab" data-tab="details">


        
   <!-- <div class="form-group">
            <label>Weapon Type</label>
            <select class = "weapon-type" name="data.weaponType.value" data-dtype="{{data.weaponType.type}}">
                {{#select data.weaponType.value}}
                <option value="Melee Weapon">Melee Weapon</option>
                <option value="Ranged Weapon">Ranged Weapon</option>
                {{/select}}
            </select>
        </div>
-->

        <div class="form-group">
            <label>{{data.weaponGroup.label}}</label>
            <select name="data.weaponGroup.value" data-dtype="{{data.weaponGroup.type}}">
                {{#select data.weaponGroup.value}}
                <option value=""></option>
                {{#each weaponGroups as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{data.availability.label}}</label>
            <select name ="data.availability.value" data-dtype={{data.availability.type}}>
                {{#select data.availability.value}}
                {{#each availability as |avail a|}}
                <option value="{{a}}">{{avail}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{data.damage.label}}</label>
            <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
        </div>

        <div class="form-group">
            <label>{{data.range.label}}</label>
            <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}"/>
        </div>

        <div class="form-group">
            <label>{{data.reach.label}}</label>
            <select name="data.reach.value" data-dtype="{{data.reach.type}}">
                {{#select data.reach.value}}
                <option value=""></option>
                {{#each weaponReaches as |reach r|}}
                <option value="{{r}}">{{reach}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{data.ammunitionGroup.label}}</label>
            <select name="data.ammunitionGroup.value" data-dtype="{{data.ammunitionGroup.type}}">
                {{#select data.ammunitionGroup.value}}
                <option value="none">None</option>
                {{#each ammunitionGroups as |group g|}}
                <option value="{{g}}">{{group}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group-stacked">
            <label>Qualities (comma-separated)</label>
            <input type="text" name="data.qualities.value" value="{{data.qualities.value}}" data-dtype="{{data.properties.type}}"/>
        </div>

        <div class="form-group-stacked">
            <label>Flaws (comma-separated)</label>
            <input type="text" name="data.flaws.value" value="{{data.flaws.value}}" data-dtype="{{data.properties.type}}"/>
        </div>
    </div>
</form>
