<form class="wfrp4e item-sheet spell-sheet {{cssClass}}" autocomplete="off">
        {{> public/systems/wfrp4e/templates/items/item-header.html}}
        <nav class="sheet-tabs tabs" data-tab-container="primary">
           <a class="item active" data-tab="description">Description</a>
           <a class="item" data-tab="details">Details</a>
        </nav>
        <div class="tab active" data-tab="description">
            {{editor content=descriptionAndLore target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        <!-- Spell Details -->
        <div class="tab" data-tab="details">
           <div class="form-group">
              <label>{{data.lore.label}}</label>
              <input class = "lore-input" type="text" value="{{loreValue}}" data-dtype="{{data.lore.type}}">
           </div>

           <div class="form-group">
               <label>{{data.lore.label}} Effect</label>
               <input type="text" name="data.lore.effect" placeholder = "Overwrite default Lore Effect" value="{{data.lore.effect}}" data-dtype="{{data.lore.type}}"/>
            </div>

           <div class="form-group">
              <label>{{data.cn.label}}</label>
              <input type="text" name="data.cn.value" value="{{data.cn.value}}" data-dtype="{{data.cn.type}}"/>
           </div>

        <div class="form-group">
           <label>{{data.range.label}}</label>
           <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}"/>
        </div>

        <div class="form-group">
           <label>{{data.duration.label}}</label>
           <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="{{data.duration.type}}"/>
        </div>

        <div class="form-group">
            <label>AoE</label>
            <input type="checkbox" name="data.target.aoe" value="{{data.target.aoe}}" data-dtype="Boolean" {{checked data.target.aoe}}/>
        </div>

        {{#unless data.target.aoe}}
        <div class="form-group">
           <label>{{data.target.label}}</label>
           <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="{{data.target.type}}"/>
        </div>
        {{/unless}}

        {{#if data.target.aoe}}
        <div class="form-group">
           <label>Radius</label>
           <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="String"/>
        </div>
        {{/if}}

        <div class="form-group">
           <label>{{data.magicMissile.label}}</label>
           <input type="checkbox" name="data.magicMissile.value" value="{{data.magicMissile.value}}" data-dtype="{{data.magicMissile.type}}" {{checked data.magicMissile.value}}/>
        </div>
        <div class="form-group">
           <label title = "When the spell should end, you may make a Willpower Test to extend the Duration for +1 round.">
               Extendable Duration
            </label>
           <input type="checkbox" name="data.duration.extendable" value="{{data.duration.extendable}}" data-dtype="Boolean" {{checked data.duration.extendable}}/>
        </div>

        <div class="form-group">
                <label>{{data.damage.label}}</label>
                <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
             </div>
        </div>

     </form>