<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
    {{> public/systems/wfrp4e/templates/items/item-header.html}}

    <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item active" data-tab="description">Description</a>
            <a class="item" data-tab="details">Details</a>
         </nav>


    {{> public/systems/wfrp4e/templates/items/item-description.html}}

    <div class="tab" data-tab="details">

    <div class ="form-group">
        <label>{{data.rollable.label}}</label>
        <input type = "checkbox" name ="data.rollable.value" value = "{{data.rollable.value}}" data-dtype ="{{data.rollable.type}}" {{checked data.rollable.value}}/>
    </div>

    {{#if data.rollable.value}}
    <div class="form-group">
        <label>Roll Characteristic<label>
        <select name="data.rollable.rollCharacteristic" data-dtype="String">
            {{#select data.rollable.rollCharacteristic}}
            {{#each characteristics as |ch char|}}
            <option value="{{char}}">{{ch}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
            <label title="Bonus of selected characteristic is added to Rating">Bonus Characteristic<label>
            <select name="data.rollable.bonusCharacteristic" data-dtype="String">
                {{#select data.rollable.bonusCharacteristic}}
                <option value="">None</option>
                {{#each characteristics as |ch char|}}
                <option value="{{char}}">{{ch}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    <div class="form-group">
            <label>{{data.specification.label}}</label>
            <input type="text" name="data.specification.value" value="{{data.specification.value}}" data-dtype="{{data.specification.type}}"/>
         </div>
         </div>
</form>
