<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
    {{> public/systems/wfrp4e/templates/items/item-header.html}}


    {{> public/systems/wfrp4e/templates/items/item-description.html}}

    <div class="form-group">
            <label>{{data.location.label}}</label>
            <input type="text" name="data.location.value" value="{{data.location.value}}" data-dtype="{{data.location.type}}"/>
         </div>

         <div class="form-group">
            <label>{{data.penalty.label}}</label>
            <input type="text" name="data.penalty.value" value="{{data.penalty.value}}" data-dtype="{{data.penalty.type}}"/>
         </div>

</form>
