<header class="item-header">
  <h1>
    <input name="name" class="item-header" type="text" value="{{item.name}}" placeholder="Name"/>
  </h1>
</header>

<script>
    textContainer = document.querySelectorAll('.app.window-app.sheet');
    length = textContainer.length;
  
    for (i = 0; i < length; i++) {
      if (textContainer[i].children[1].children[0].className.includes("item-sheet editable")) {
        new_red = document.getElementsByClassName("app window-app sheet")[i].id;
        if (document.getElementById(new_red).className.includes("career-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("ammo-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("career-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("consumable-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("container-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("disease-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("injury-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("money-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("mutation-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("prayer-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("psychology-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("skill-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("spell-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("talent-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("trait-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("trapping-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("weapon-sheet")) {
          continue;
        } 
        document.getElementById(new_red).className += " armour-sheet";
      } else {}
    }
  
    // console.log(checkIfToken);
  </script>