    <div class="characteristics-gen" data-char={{dataTransfer}}>
      <h2>Attributes - {{species}}</h2>

{{#each characteristics as |characteristic key|}}
<div>
  <b>{{key}}</b>: {{characteristic}}
</div>
{{/each}}


<div><b>Move</b>: {{species}}</div>
<div><b>Fate</b>: {{fate}}</div>
<div><b>Resilience</b>: {{resilience}}</div>
<div><b>Extra</b>: {{extra}}</div>
<div class = "exp-drag" data-exp={{exp}}><b>Exp</b>: {{exp}}</div>

<span>
    <span><a class = 'chargen-button' data-button = 'keep' title = '+50 EXP'>Keep</a></span>
</span>
</div>
