<div>
  <h2>Career Advancement</h2>
</div>

<span>Drag the career onto your character sheet and allocate 40 advances to the available skills. Also, add 1 Talent and allocate 5 advances across the marked characteristics.</span>

<div class = "exp-drag" data-exp={{exp}}><b><a >Exp: {{exp}}</a></b></div>

<div><b>Class Trappings:</b></div>
<div>{{trappings}}</div>

{{#unless chosen}}
{{#if reroll}}
<span class = "attribute-career-buttons">
  <a class = 'chargen-button careerReroll' data-button = 'chooseCareer' data-species="{{speciesKey}}" title = 'If you do not like the result, you can instead choose your Career for no bonus EXP'>Choose Career</a>
</span>
{{else}}
<span class = "attribute-career-buttons">
  <a class = 'chargen-button careerReroll' data-button = 'rerollCareer' data-species="{{speciesKey}}" title = 'If you do not like the result, you can reroll twice for only +25 EXP'>Reroll Career</a>
</span>
{{/if}}
{{/unless}}