<div class="characteristics">
    <table class ="characteristics-table" >
        <tr class = "table-header">
        <th></th>
        {{#each actor.data.characteristics as |ch c|}}
        <th class = "table-header">
            {{ch.abrev}}
        </th>
        {{/each}}
        </tr>
        <tr class = "table-row">
        <td class = "row-type">
            Initial
        </td>
        {{#each actor.data.characteristics as |ch c|}}
        <td class = "table-data">
            <input name = "data.characteristics.{{c}}.initial" type="text" value="{{ch.initial}}" data-dtype="Number">
        </td>
        {{/each}}
        </tr>
        <tr class = "table-row">
        <td class = "row-type">
            Advances
        </td>
        {{#each actor.data.characteristics as |ch c|}}
        <td class = "table-data">
            <input name = "data.characteristics.{{c}}.advances" type="text" value="{{ch.advances}}" data-dtype="Number">
        </td>
        {{/each}}
        </tr>
        <tr class = "table-row-bottom">
        <td class = "row-type">
            Current
        </td>
        {{#each actor.data.characteristics as |ch c|}}
        <td class = "table-data">{{ch.value}}</td>
        {{/each}}
        </tr>
    </table>
</div>

<div class = "second-row">
<div class="movement">
    <div class = "move-section">
        <div class ="move-value">
            <input name = "data.details.move.value" type = "text" value = "{{data.details.move.value}}" data-dtype ="Number">
        </div>
        <div class = "move-name">
            <h4>Move</h4>
        </div>
    </div>
    <div class = "move-section">
            <div class ="move-value">
                {{actor.data.details.move.walk}} yds
            </div>
            <div class = "move-name">
                <h4>Walk</h4>
            </div>
        </div>
        <div class = "move-section">
                <div class ="move-value">
                    {{actor.data.details.move.run}} yds
                </div>
                <div class = "move-name">
                    <h4>Run</h4>
                </div>
            </div>
</div>

<div class = "fate-resilience">
    <div class = "type">
        <div class = "upper">
                Fortune: 
                <input name="data.status.fortune.value" type ="text" value= {{data.status.fortune.value}} data-dtype="Number">
            </div>
            <div class = "lower">
                Fate: 
                <input name="data.status.fate.value" type ="text" value= {{data.status.fate.value}} data-dtype="Number">
        </div>
    </div>
    <div class = "type">
        <div class = "upper">
                Resolve: 
                <input name="data.status.resolve.value" type ="text" value= {{data.status.resolve.value}} data-dtype="Number">
            </div>
            <div class = "lower">
                Resilience: 
                <input name="data.status.resilience.value" type ="text" value= {{data.status.resilience.value}} data-dtype="Number">
        </div>
    </div>
</div>
</div>

