<div class="tab talents" data-group="primary" data-tab="talents">
  <div class="talents-section">
    <ol class="inventory-list talent-list">
      <li class="inventory-header">
        <div class="item-name">Talent Name</div>
        <div class="item-taken">Times Taken</div>
        <div class="item-tests">Tests</div>
        {{#if owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="Create Item" data-type="talent"><i class="fas fa-plus"></i>
          </a>
        </div>
        {{/if}}
      </li>

      {{#each actor.talents as |item i|}}
      <li class="item" data-item-id="{{item.id}}">
        <div class="item-name item-dropdown">
          <div class="item-image" style="background-image: url({{item.img}})"></div>
          <a>{{item.name}}</a>
        </div>

        <div class="item-max">{{item.data.advances.value}} / {{item.numMax}}</div>

        <div class="item-tests">{{item.data.tests.value}}</div>

        {{#if ../owner}}
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>






    {{#if actor.traits}}
    <div class="traits-header">
      <div class="item-name">Creature Trait</div>
    </div>

    <ol class="inventory-list trait-list">
      <li class="inventory-header">
        <div class="item-image" style="background-image: url({{item.img}})"></div>
        <div class="item-name">Creature Trait</div>
        {{#if owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="Create Item" data-type="{{sid}}"><i class="fas fa-plus"></i>
            Add</a>
        </div>
        {{/if}}
      </li>

      {{#each actor.traits as |item i|}}
      <li class="item" data-item-id="{{item.id}}">
        <div class="trait-name">
          <div class="item-image" style="background-image: url({{item.img}})"></div>
          {{#if item.data.rollable.value}}
          <a class = "trait-roll">{{item.name}}</a>
          {{else}}
          <a class = "item-dropdown">{{item.name}}</a>
          {{/if}}
        </div>

        {{#if ../owner}}
        <div class="item-controls">
          <a class="item-dropdown" title="Dropdown Item"><i class="fas fa-chevron-down"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
    {{/if}}
  </div>
</div>