

<div class = "skill-section">

    <div class = "skill-type">

 <h3>Basic Skills</h3>
<table class="skill-table">
    <tr class = "table-header">
       <th>Skill</th>
       <th colspan="2">Characteristic</th>
       <th>Adv</th>
       <th>Total</th>
    </tr>

{{#each actor.basicSkills as |skill s|}}
<tr class="skill" data-skill="{{s}}">
        <td class = "skill-name">
                <div class="item-image" style="background-image: url({{skill.img}})"></div>
                <div >{{skill.name}}</div>
            </td>
    <td class="skill-characteristic">{{skill.data.characteristic.value}}</td>
    <td class="skill-characteristic">{{skill.data.characteristic.num}}</td>
    <td  class="skill-advances">
    <input name = "skill.data.advances.value" data-item-id = "{{skill.id}}" type= "text" data-dtype="{{skill.data.advances.type}}" value ="{{skill.data.advances.value}}"/>
</td>
    <td class="skill-total">{{skill.data.total.value}}</td>
</tr>
{{/each}}
</table>
</div>

<div class = "skill-type">

        <h3>Advanced & Grouped Skills</h3>
       <table class="skill-table">
           <tr class = "table-header">
              <th>Skill</th>
              <th colspan="2">Characteristic</th>
              <th>Adv</th>
              <th>Total</th>
           </tr>
       
           {{#each actor.advancedOrGroupedSkills as |skill s|}}
           <tr class="skill" data-skill="{{s}}">
               <td>
                    <div class="item-image" style="background-image: url({{skill.img}})"></div>
                    <div class = "skill-name">{{skill.name}}</div>
                </td>
               <td class="skill-characteristic">{{skill.data.characteristic.value}}</td>
               <td class="skill-characteristic">{{skill.data.characteristic.num}}</td>
               <td  class="skill-advances">
               <input name = "skill.data.advances.value" data-item-id = "{{skill.id}}" type= "text" data-dtype="{{skill.data.advances.type}}" value ="{{skill.data.advances.value}}"/>
           </td>
               <td class="skill-total">{{skill.data.total.value}}</td>
           </tr>
           {{/each}}
       </table>
       </div>
        
</div>

