<div class="tab talents" data-group="primary" data-tab="talents">
    <ol class="inventory-list talent-list">
        <li class="inventory-header item">
            <div class = "item-name">Talent Name</div>
            <div>Times Taken / Max</div>
            <div>Tests</div>
        </li>

        {{#each actor.talents as |item i|}}
        <li class="item" data-item-id="{{item.id}}">
            <div class="item-name">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>{{item.name}}</a>
            </div>

            <div>{{item.data.advances.value}} / {{item.numMax}}</div>

            <div>{{item.data.tests.value}}</div>

            <div class="item-controls">
                    <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                </div>
        </li>
        {{/each}}
    </ol>
</div>