
<div class = "religion-header">
    <div class = "religion-header">
        <span>Blessed By:</span>
            <div>
                <input name="data.details.god.value" type="text" value="{{data.details.god.value}}" data-dtype="data.details.god.type">
            </div>
    </div>
    <div class = "religion-header">
        <span>Sin:</span>
            <div>
                <input name="data.status.sin.value" type="text" value="{{data.status.sin.value}}" data-dtype="data.status.sin.type">
            </div>
        </div>
</div>

<ol class="inventory-list">
        <li class="inventory-header item">
            <div class = "item-name">Blessing</div>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create" title="Create Item" data-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
            </div>
            {{/if}}
        </li>

        {{#each actor.blessings as |item i|}}
        <li class="item" data-item-id="{{item.id}}">
            <div class="item-name">
                <a class="item-dropdown" title="Dropdown Item"><i class="fas fa-chevron-down"></i></a>
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a class = "prayer-roll">{{item.name}}</a>
            </div>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
<ol class="inventory-list">
    <li class="inventory-header item">
        <div class = "item-name">Miracle</div>
        {{#if owner}}
        <div class="item-controls">
            <a class="item-control item-create" title="Create Item" data-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
        </div>
        {{/if}}
    </li>

    {{#each actor.miracles as |item i|}}
    <li class="item" data-item-id="{{item.id}}">
        <div class="item-name">
            <a class="item-dropdown" title="Dropdown Item"><i class="fas fa-chevron-down"></i></a>
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a class = "prayer-roll">{{item.name}}</a>
        </div>


        {{#if ../owner}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </li>
    {{/each}}
</ol>