<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>
    </header>




    <section class="general">
        <img class="charimg" src="{{actor.img}}" title="{{actor.name}}" height="100" width="100" data-edit="img"/>
        <div class="items">
          <a>Class: </a>
          <input name="class" type="text" value="{{actor.details.class}}" />

          <a>Career: </a>
          <input name="career" type="text" value="{{actor.details.career}}" />

          <a>Status: </a>
          <div class ="status">
              <input name="name" type="text" value="{{actor.details.status.standing}}" placeholder="Standing"/>
              <input class = "tier" name="name" type="text" value="{{actor.details.status.tier}}" placeholder="Tier"/>
          </div>

          <a>Age: </a>
          <input name="name" type="text" value="{{actor.details.status.standing}}"/>

          <a>Height: </a>
          <input name="name" type="text" value="{{actor.details.status.standing}}"/>

          <a>Hair: </a>
          <input name="name" type="text" value="{{actor.details.status.standing}}"/>

          <a>Eyes: </a>
          <input name="name" type="text" value="{{actor.details.status.standing}}"/>

        </div>

      </section>

    <!-- TABS -->
    <section>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item active" data-tab="main">Main</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="talents">Talents</a>
            <a class="item" data-tab="combat">Combat</a>
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="magic">Magic</a>
            <a class="item" data-tab="notes">Notes</a>
        </nav>

        <div data-group="primary" data-tab="main">
                {{> public/systems/wfrp4e/templates/actors/actor-main.html}}
        </div>
    </section>



</form>