<div class="creature-lists">
  <div class="creature-overview-label">Creature Overview</div>

  <div class="creature-overview">
    <div class="list creature-skills">
      <a class="creature-skills label">Skills:</a>
      {{#each actor.basicSkills as |item i|}}
      <div class="skills content" data-item-id="{{item.id}}">
        <a class="skills name">{{item.name}} </a>
        <a class="skills total">{{item.data.total.value}}</a>
      </div>
      {{/each}}
      {{#each actor.advancedOrGroupedSkills as |item i|}}
      <div class="skills content" data-item-id="{{item.id}}">
        <a class="skills name">{{item.name}} </a>
        <a class="skills total">{{item.data.total.value}}</a>
      </div>
      {{/each}}
    </div>

    {{#if actor.talents}}
    <div class="list creature-talents item" data-item-id="{{item.id}}">
      <a class="creature-talents label">Talents:</a>
      {{#each actor.talents as |item i|}}
      <div class="talents content item" data-item-id="{{item.id}}">
        <a class="talents name item-dropdown">{{item.name}} </a>
        <a class="talents advances">{{item.data.advances.value}} </a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if actor.includedTraits}}
    <div class="list creature-traits">
      <a class="creature-traits label">Traits:</a>
      {{#each actor.includedTraits as |item i|}}
      <div class="traits content item" data-item-id="{{item.id}}">
        <a class="traits name item-dropdown">{{item.name}} </a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if actor.mutations}}
    <div class="list creature-mutations">
      <a class="creature-mutations label">Corruption & Mutations:</a>
      {{#each actor.mutations as |item i|}}
      <div class="mutations content item" data-item-id="{{item.id}}">
        <a class="mutations name item-dropdown">{{item.name}} </a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if actor.psychology}}
    <div class="list creature-psychology">
      <a class="creature-psychology label">Psychology:</a>
      {{#each actor.psychology as |item i|}}
      <div class="psychology content item" data-item-id="{{item.id}}">
        <a class="psychology name item-dropdown">{{item.name}} </a>
      </div>
      {{/each}}
    </div>
    {{/if}}


    {{#if actor.injuries}}
    <div class="list creature-injuries">
      <a class="creature-injuries label">Injuries:</a>
      {{#each actor.injuries as |item i|}}
      <div class="injuries content item" data-item-id="{{item.id}}">
        <a class="injuries name item-dropdown">{{item.name}} </a>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>


  <div class="penalties">
    <h3>Penalties</h3>
    <input class="penalties-input" type="text" name="data.status.penalties.value" placeholder="{{actor.allPenalties}}"
      data-dtype="String" onfocus="this.value=''">
  </div>
</div>
