<div class="cast-channel-dialog selection"> 
  <label>Cast or Channell this spell?</label> 
</div>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    // console.log("textContainer");
    // console.log(textContainer);
    // console.log(textContainer[i].children[0].children[0].textContent);
    
    if (textContainer[i].children[0].children[0].textContent.includes("Cast or Channell")) {
      new_red = textContainer[i].id;
      // console.log("new_red");
      // console.log(new_red);
      if (document.getElementById(new_red).className.includes("cast-channell")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " cast-channell";
      }
    } else {}
  }

  // console.log(checkIfToken);
</script>