<form class="{{cssClass}}" autocomplete="off">

  <span id="header-personal-details">Personal Details</span>

  <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
    <h1 class="charname item">
      <input class="input name" style="box-shadow: none !important;" name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
      <span class="label name">Name</span>
    </h1>

    <div class="item">
      <input class="input species" style="box-shadow: none !important;" name="data.details.species.value" type="text" value="{{data.details.species.value}}"
        placeholder="Species" />
      <span class="label species">Species</span>
    </div>

    <div id="field-gender" class="item">
      <input class="input gender" style="box-shadow: none !important;" name="data.details.gender.value" type="text" value="{{data.details.gender.value}}"
        placeholder="Gender" />
      <span class="label gender">Gender</span>
    </div>
  </header>

  <section class="general" ondragstart="return false;" ondrop="return false;">
    <img class="charimg" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">

    <div class="items">
      <div class="row">

        <div id="field-class" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="actor.currentClass" type="text" value="{{actor.currentClass}}"
            placeholder="Class" readonly />
          <span class="label-details">Class</span>
        </div>

        <div id="field-career" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="actor.currentCareerGroup" type="text" value="{{actor.currentCareerGroup}}"
            placeholder="Career" readonly />
          <span class="label-details">Career</span>
        </div>

        <div id="field-careerlevel" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="actor.currentCareer" type="text" value="{{actor.currentCareer}}"
            placeholder="Career Level" readonly />
          <span class="label-details">Career Level</span>
        </div>

        <div id="field-status" class="item">
          <input id="input-status" class="input-details" style="box-shadow: none !important;" name="status" type="text" value="{{actor.status}}"
            placeholder="Status" readonly />
          <span id="label-status" class="label-details">Status</span>
        </div>

        <div id="field-age" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.age.value" type="text" value="{{data.details.age.value}}"
            placeholder="Age" />
          <span class="label-details">Age<span>
        </div>

        <div id="field-height" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.height.value" type="text"
            value="{{data.details.height.value}}" placeholder="Height" />
          <span class="label-details">Height</span>
        </div>

        <div id="field-weight" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.weight.value" type="text"
            value="{{data.details.weight.value}}" placeholder="Weight" />
          <span class="label-details">Weight</span>
        </div>

        <div id="field-haircolour" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.haircolour.value" type="text"
            value="{{data.details.haircolour.value}}" placeholder="Hair Colour" />
          <span class="label-details">Hair Colour</span>
        </div>

        <div id="field-eyecolour" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.eyecolour.value" type="text"
            value="{{data.details.eyecolour.value}}" placeholder="Eye Colour" />
          <span class="label-details">Eye Colour</span>
        </div>

        <div id="field-distinguishingmark" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.distinguishingmark.value" type="text"
            value="{{data.details.distinguishingmark.value}}" placeholder="Distinguishing Mark" />
          <span class="label-details">Distinguishing Mark</span>
        </div>

        <div id="field-starsign" class="item">
          <input class="input-details" style="box-shadow: none !important;" name="data.details.starsign.value" type="text"
            value="{{data.details.starsign.value}}" placeholder="Star Sign" />
          <span class="label-details">Star Sign</span>
        </div>
      </div>


  </section>
  <!-- TABS -->
  <section id="tab-sections">
    <nav id="wfrp4e-primarytabs" class="sheet-tabs tabs" data-group="primary" ondragstart="return false;"
      ondrop="return false;">
      <a class="item active" data-tab="main">Main</a>
      <a class="item" data-tab="skills">Skills</a>
      <a class="item" data-tab="talents">Talents</a>
      <a class="item" data-tab="combat">Combat</a>
      {{#if actor.flags.hasSpells}}
      <a class="item" data-tab="magic">Magic</a>
      {{/if}}
      {{#if actor.flags.hasPrayers}}
      <a class="item" data-tab="religion">Religion</a>
      {{/if}}
      <a class="item" data-tab="inventory">Trappings</a>
      <a class="item" data-tab="notes">Notes</a>
    </nav>
    <div class="tab main save-scroll" data-tab="main" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-main.html}}
    </div>
    <div class="tab skills save-scroll" data-tab="skills" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-skills.html}}
    </div>
    <div class="tab talents save-scroll" data-tab="talents" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-talents.html}}
    </div>
    <div class="tab combat save-scroll" data-tab="combat" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-combat.html}}
    </div>
    <div class="tab magic save-scroll" data-tab="magic" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-magic.html}}
    </div>
    <div class="tab religion save-scroll" data-tab="religion" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-religion.html}}
    </div>
    <div class="tab inventory save-scroll" data-tab="inventory" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-inventory.html}}
    </div>
    <div class="tab notes save-scroll" data-tab="notes" data-group="primary">
      {{> systems/wfrp4e/templates/actors/actor-notes.html}}
    </div>
  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.character-sheet .window-title');
  length = textContainer.length;

  for (i = 0; i < length; i++) {

    if (textContainer[i].innerHTML.includes("[Token]")) {
      new_red = document.getElementsByClassName("character-sheet")[i].id;
      if (!document.getElementById(new_red).className.includes("token-actor")) {
        document.getElementById(new_red).className += " token-actor";
      } else {}
    } else {}
  }
  // console.log(checkIfToken);
</script>