<div id="sidebar" class="app">
  <nav id="sidebar-tabs" class="tabs">
      <a class="item" title="Chat" data-tab="chat">
          <i class="fas fa-comments"></i>
          <i id="chat-notification" class="fas fa-exclamation-circle"></i>
      </a>
      <a class="item" title="Tracker" data-tab="combat"><i class="fas fa-fist-raised"></i></a>
      {{#if user.isGM }}
      <a class="item" title="Scenes" data-tab="scenes"><i class="fas fa-map"></i></a>
      {{/if}}
      <a class="item" title="Actors" data-tab="actors"><i class="fas fa-users"></i></a>
      <a class="item" title="Items" data-tab="items"><i class="fas fa-suitcase"></i></a>
      <a class="item" title="Journal" data-tab="journal"><i class="fas fa-music"></i></a>
      <a class="item" title="Playlists" data-tab="playlists"><i class="fas fa-music"></i></a>
      <a class="item" title="Compendium" data-tab="compendium"><i class="fas fa-atlas"></i></a>
      <a class="item" title="Settings" data-tab="settings"><i class="fas fa-question"></i></a>
  </nav>

  <template class="tab" id="chat" data-tab="chat"></template>
  <template class="tab" id="combat" data-tab="combat"></template>
  {{#if user.isGM }}
  <template class="tab" id="scenes" data-tab="scenes"></template>
  {{/if}}
  <template class="tab" id="actors" data-tab="actors"></template>
  <template class="tab" id="items" data-tab="items"></template>
  <template class="tab" id="journal" data-tab="journal"></template>
  <template class="tab" id="playlists" data-tab="playlists"></template>
  <template class="tab" id="compendium" data-tab="compendium"></template>
  <template class="tab" id="settings" data-tab="settings"></template>
</div>
