<form>
    {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}
    <div class="form-group">
        <label>Channell Skill</label>
        <select name="skillSelected">
            {{#select defaultSelection}}
            {{#each channellSkills as |skill skillIndex|}}
                <option value="{{skillIndex}}">{{skill.name}}</option>
            {{/each}}
            {{/select}}
            </select>
    </div>

    <div class="form-group">
        <label title="Include a roll on the hit location table">Malignant Influence 
            <input type="checkbox" name="malignantInfluence" data-dtype = "Boolean" {{checked malignantInfluence}}/>
        </label>
    </div>
</form>