<form>
  {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}

  <div class="form-group">
    <label title="Include a roll on the hit location table">Hit Location
      <input type="checkbox" name="hitLocation" data-dtype="Boolean" {{checked hitLocation}} />
    </label>
  </div>

  <div class="roll-dialog-tag">characteristic</div>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    var rollDialogId = textContainer[i].children[1].children[0].getElementsByClassName("roll-dialog-tag")[0].textContent;

    if (rollDialogId == "characteristic") {
      new_red = document.getElementsByClassName("app window-app dialog")[i].id;
      if ( !document.getElementById(new_red).className.includes("characteristic-roll-dialog") ) {
        document.getElementById(new_red).className += " characteristic-roll-dialog";
      }
      else {
      }
    } 
    else {
    }
  }

</script>