<form>
  {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}
  
  <div class="form-group">
      <label title="Include a roll on the hit location table">Hit Location 
          <input type="checkbox" name="hitLocation" data-dtype = "Boolean" {{checked hitLocation}}/>
      </label>
  </div>

  <div class="roll-dialog-tag">prayer</div>
</form>

<script>
  console.log("ROLL DIALOG BACKGROUND CHANGER!");
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  console.log("textContainer");
  console.log(textContainer);
  length = textContainer.length;
  console.log(length);

  for (i = 0; i < length; i++) {
    console.log("textContainer[i]");
    console.log(textContainer[i]);
    console.log("textContainer.children");
    console.log(textContainer[i].children[1].children[0].getElementsByClassName("roll-dialog-tag"));
    var rollDialogId = textContainer[i].children[1].children[0].getElementsByClassName("roll-dialog-tag")[0].textContent;

    if (rollDialogId == "prayer") {
      console.log("TRUE!");
      new_red = document.getElementsByClassName("app window-app dialog")[i].id;
      console.log(new_red);
      if ( !document.getElementById(new_red).className.includes("prayer-roll-dialog") ) {
        console.log("GREAT SUCCESS");
        document.getElementById(new_red).className += " prayer-roll-dialog";
      }
      else {
        console.log("FALSE!");
      }
    } 
    else {
      console.log("FALSE!");
    }
  }

  console.log("ROLL DIALOG BACKGROUND CHANGER END!");
</script>