<form>
  {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}

  <div class="form-group custom-select">
    <label>Characteristic</label>
    <select name="characteristicToUse">
      {{#select characteristicToUse}}
      {{#each characteristicList as |label char|}}
      <option value="{{char}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label title="SL that is only applied on success (e.g. Talents)">Hit Location
      <input type="checkbox" name="hitLocation" {{checked hitLocation}} />
    </label>
  </div>

  <div class="roll-dialog-tag">skill</div>
</form>

<script>
    console.log("ROLL DIALOG BACKGROUND CHANGER!");
    textContainer = document.querySelectorAll('.app.window-app.dialog');
    console.log("textContainer");
    console.log(textContainer);
    length = textContainer.length;
    console.log(length);
  
    for (i = 0; i < length; i++) {
      console.log("textContainer[i]");
      console.log(textContainer[i]);
      console.log("textContainer.children");
      console.log(textContainer[i].children[1].children[0].getElementsByClassName("roll-dialog-tag"));
      var rollDialogId = textContainer[i].children[1].children[0].getElementsByClassName("roll-dialog-tag")[0].textContent;
  
      if (rollDialogId == "skill") {
        console.log("TRUE!");
        new_red = document.getElementsByClassName("app window-app dialog")[i].id;
        console.log(new_red);
        if ( !document.getElementById(new_red).className.includes("skill-roll-dialog") ) {
          console.log("GREAT SUCCESS");
          document.getElementById(new_red).className += " skill-roll-dialog";
        }
        else {
          console.log("FALSE!");
        }
      } 
      else {
        console.log("FALSE!");
      }
    }
  
    console.log("ROLL DIALOG BACKGROUND CHANGER END!");
  </script>