<form>
    {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}
    
    <div class="form-group">
        <label title="Include a roll on the hit location table">Hit Location 
            <input type="checkbox" name="hitLocation" data-dtype = "Boolean" {{checked hitLocation}}/>
        </label>

        <label title="Include a roll on the hit location table">Malignant Influence 
            <input type="checkbox" name="malignantInfluence" data-dtype = "Boolean" {{checked malignantInfluence}}/>
        </label>
    </div>
</form>