<form>
    {{> public/systems/wfrp4e/templates/chat/dialog-constant.html}}

    <div class="form-group">
            <label>Skill</label>
            <select name="skillSelected">
                {{#select defaultSelection}}
                {{#each skillCharList as |skill index|}}
                    <option value="{{index}}">{{skill}}</option>
                {{/each}}
                {{/select}}
                </select>
    </div>

    <div class="form-group">
        <label title="SL that is only applied on success (e.g. Talents)">Hit Location 
            <input type="checkbox" name="hitLocation" {{checked hitLocation}}/>
        </label>
    </div>

   <!--<a class="item-control edit-weapon" title="Modify weapon for this Test"><i class="fa fa-cog"></i>-->

</form>