<div class = "browser">
      <div class = "item-filter save-scroll">
         {{#each filters.type as |value filter|}}
         <div>
            <input class="filter" type="checkbox" data-filter="{{filter}}" {{checked value}}/> {{filter}}
         </div>
         {{/each}}
         <div>
            Name
            <input class="name-filter" type="text" data-filter="name" value="{{filters.attribute.name}}"/>
         </div>
         <div>
            Description
            <input class="description-filter" type="text" data-filter="description" value="{{filters.attribute.description}}"/>
         </div>

         <div class = "encumbrance" style = "display: none;">
            Encumbrance
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "encumbrance">
                  <option value=""></option>
                  {{#select filters.dynamic.encumbrance.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter encumbrancce" type="text" data-filter="encumbrance" value="{{filters.dynamic.encumbrance.value}}"/>
            </div>
         </div>

         <div class = "availability" style = "display: none;">
            Availability
            <div>
               <select class="dynamic-filter" data-filter = "availability">
                  <option value=""></option>
                  {{#select filters.dynamic.availability.value}}
                  {{#each availability as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>

         <div class = "ammunitionType" style = "display: none;">
            Ammunition Type
            <div>
               <select class="dynamic-filter" data-filter = "ammunitionType">
                  <option value=""></option>
                  {{#select filters.dynamic.ammunitionType.value}}
                  {{#each ammunitionGroups as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "modifiesDamage" style = "display: none;">
            Modifies Damage
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "modifiesDamage" {{checked filters.dynamic.modifiesDamage.value}}></input>
            </div>
         </div>
         <div class = "modifiesRange" style = "display: none;">
            Modifies Range
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "modifiesRange" {{checked filters.dynamic.modifiesRange.value}}></input>
            </div>
         </div>
         <div class = "armorType" style = "display: none;">
            Armour Type
            <div>
               <select class="dynamic-filter" data-filter = "armorType">
                  <option value=""></option>
                  {{#select filters.dynamic.armorType.value}}
                  {{#each armorTypes as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "qualitiesFlaws" style = "display: none;">
            Qualities/Flaws (comma separated)
            <input class="csv-filter qualitiesFlaws" type="text" data-filter="qualitiesFlaws" value="{{filters.dynamic.qualitiesFlaws.value}}"/>
         </div>
         <div  class = "protects" style = "display: none;">
         <div>Protects</div>
         Head           
         <div>
            <input class="protects-filter" type = "checkbox" data-filter = "head" {{checked filters.dynamic.protects.value.head}}></input>
         </div>
         Body           
         <div>
            <input class="protects-filter" type = "checkbox" data-filter = "body" {{checked filters.dynamic.protects.value.body}}></input>
         </div>
         Arms           
         <div>
            <input class="protects-filter" type = "checkbox" data-filter = "arms" {{checked filters.dynamic.protects.value.arms}}></input>
         </div>
         Legs     
         <div>
            <input class="protects-filter" type = "checkbox" data-filter = "legs" {{checked filters.dynamic.protects.value.legs}}></input>
         </div>
      </div>
         <div class = "carries" style = "display: none;">
            Carries
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "carries">
                  <option value=""></option>
                  {{#select filters.dynamic.carries.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter carries" type="text" data-filter="carries" value="{{filters.dynamic.carries.value}}"/>
            </div>
         </div>
         <div class = "wearable" style = "display: none;">
            Wearable
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "wearable" {{checked filters.dynamic.wearable.value}}></input>
            </div>
         </div>
         <div class = "location" style = "display: none;">
            Location
            <div>
               <select class="dynamic-filter" data-filter = "location">
                  <option value=""></option>
                  {{#select filters.dynamic.location.value}}
                  {{#each locations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "wounds" style = "display: none;">
            Wounds
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "wounds">
                  <option value=""></option>
                  {{#select filters.dynamic.wounds.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter wounds" type="text" data-filter="wounds" value="{{filters.dynamic.wounds.value}}"/>
            </div>
         </div>
         <div class = "symptoms" style = "display: none;">
            Symptoms
            <input class="csv-filter symptoms" type="text" data-filter="symptoms" value="{{filters.dynamic.symptoms.value}}"/>
         </div>
         <div class = "mutationType" style = "display: none;">
            Mutation Type
            <div>
               <select class="dynamic-filter" data-filter = "mutationType">
                  <option value=""></option>
                  {{#select filters.dynamic.mutationType.value}}
                  {{#each mutationTypes as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "careergroup" style = "display: none;">
            Career Group
            <div>
               <select class="dynamic-filter" data-filter = "careergroup">
                  <option value=""></option>
                  {{#select filters.dynamic.careergroup.value}}
                  {{#each careerGroups as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "class" style = "display: none;">
            Career Class
            <div>
               <select class="dynamic-filter" data-filter = "class">
                  <option value=""></option>
                  {{#select filters.dynamic.class.value}}
                  {{#each careerClasses as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "level" style = "display: none;">
            Career Tier
            <div>
               <select class="dynamic-filter" data-filter = "level">
                  <option value=""></option>
                  {{#select filters.dynamic.level.value}}
                  {{#each careerTiers as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "statusTier" style = "display: none;">
            Status Tier
            <div>
               <select class="dynamic-filter" data-filter = "statusTier">
                  <option value=""></option>
                  {{#select filters.dynamic.statusTier.value}}
                  {{#each statusTiers as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "statusStanding" style = "display: none;">
            Status Standing
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "statusStanding">
                  <option value=""></option>
                  {{#select filters.dynamic.statusStanding.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter statusStanding" type="text" data-filter="statusStanding" value="{{filters.dynamic.statusStanding.value}}"/>
            </div>
         </div>
         <div  class = "characteristics" style = "display: none;" title = "Example Input: 'Ws, T, fel' (case insensitive)">
            Characteristics (comma separated)
            <input class="csv-filter characteristics" type="text" data-filter="characteristics" value="{{filters.dynamic.characteristics.value}}"/>
         </div>
         <div class = "skills" style = "display: none;">
            Skills (comma separated)
            <input class="csv-filter skills" type="text" data-filter="skills" value="{{filters.dynamic.skills.value}}"/>
         </div>
         <div class = "talents" style = "display: none;">
            Talents (comma separated)
            <input class="csv-filter talents" type="text" data-filter="talents" value="{{filters.dynamic.talents.value}}"/>
         </div>
         <div class = "prayerType" style = "display: none;">
            Prayer Type
            <div>
               <select class="dynamic-filter" data-filter = "prayerType">
                  <option value=""></option>
                  {{#select filters.dynamic.prayerType.value}}
                  {{#each prayerTypes as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "god" style = "display: none;">
            God
            <div>
               <select class="dynamic-filter" data-filter = "god">
                  <option value=""></option>
                  {{#select filters.dynamic.god.value}}
                  {{#each gods as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "duration" style = "display: none;">
            Duration
            <input class="dynamic-filter duration" type="text" data-filter="duration" value="{{filters.dynamic.duration.value}}"/>
         </div>
         <div class = "range" style = "display: none;">
            Range
            <input class="dynamic-filter range" type="text" data-filter="range" value="{{filters.dynamic.range.value}}"/>
         </div>
         <div class = "target" style = "display: none;">
            Targets
            <input class="dynamic-filter target" type="text" data-filter="target" value="{{filters.dynamic.target.value}}"/>
         </div>
         <div class = "magicMissile" style = "display: none;">
            Magic Missile
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "magicMissile" {{checked filters.dynamic.magicMissile.value}}></input>
            </div>
         </div>
         <div class = "aoe" style = "display: none;">
            AoE
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "aoe" {{checked filters.dynamic.aoe.value}}></input>
            </div>
         </div>
         <div class = "extendable" style = "display: none;">
            Extendable Duration
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "extendable" {{checked filters.dynamic.extendable.value}}></input>
            </div>
         </div>
         <div class = "max" style = "display: none;">
            Talent Max
            <div>
               <select class="dynamic-filter" data-filter = "max">
                  <option value=""></option>
                  {{#select filters.dynamic.max.value}}
                  {{#each talentMax as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "tests" style = "display: none;">
            Talent Tests
            <div>
               <input class="dynamic-filter tests" type="text" data-filter="tests" value="{{filters.dynamic.tests.value}}"/>
            </div>
         </div>
         <div class = "trappingType" style = "display: none;">
            Trapping Type
            <div>
               <select class="dynamic-filter" data-filter = "trappingType">
                  <option value=""></option>
                  {{#select filters.dynamic.trappingType.value}}
                  {{#each trappingTypes as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "characteristic" style = "display: none;">
            Characteristic
            <div>
               <select class="dynamic-filter" data-filter = "characteristic">
                  <option value=""></option>
                  {{#select filters.dynamic.characteristic.value}}
                  {{#each characteristics as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "advanced" style = "display: none;">
            Advanced/Basic
            <div>
               <select class="dynamic-filter" data-filter = "advanced">
                  <option value=""></option>
                  {{#select filters.dynamic.advanced.value}}
                  {{#each skillTypes as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "grouped" style = "display: none;">
            Is Grouped
            <div>
               <select class="dynamic-filter" data-filter = "grouped">
                  <option value=""></option>
                  {{#select filters.dynamic.grouped.value}}
                  {{#each skillGroup as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "lore" style = "display: none;">
            Lore
            <div>
               <select class="dynamic-filter" data-filter = "lore">
                  <option value=""></option>
                  {{#select filters.dynamic.lore.value}}
                  {{#each lores as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "cn" style = "display: none;">
            CN
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "cn">
                  <option value=""></option>
                  {{#select filters.dynamic.cn.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter cn" type="text" data-filter="cn" value="{{filters.dynamic.cn.value}}"/>
            </div>
         </div>
         <div class = "rollable" style = "display: none;">
            Rollable
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "rollable" {{checked filters.dynamic.rollable.value}}></input>
            </div>
         </div>
         <div class = "weaponGroup" style = "display: none;">
            Weapon Group
            <div>
               <select class="dynamic-filter" data-filter = "weaponGroup">
                  <option value=""></option>
                  {{#select filters.dynamic.weaponGroup.value}}
                  {{#each weaponGroups as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "ammunitionGroup" style = "display: none;">
            Ammunition Group
            <div>
               <select class="dynamic-filter" data-filter = "ammunitionGroup">
                  <option value=""></option>
                  {{#select filters.dynamic.ammunitionGroup.value}}
                  {{#each ammunitionGroups as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "reach" style = "display: none;">
            Reach
            <div>
               <select class="dynamic-filter" data-filter = "reach">
                  <option value=""></option>
                  {{#select filters.dynamic.reach.value}}
                  {{#each weaponReaches as |value index|}}
                  <option value="{{index}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
            </div>
         </div>
         <div class = "weaponRange" style = "display: none;">
            Range
            <div class = "comparison-filter">
               <select class="dynamic-filter-comparator" data-filter = "weaponRange">
                  <option value=""></option>
                  {{#select filters.dynamic.weaponRange.relation}}
                  {{#each relations as |value index|}}
                  <option value="{{value}}">{{value}}</option>
                  {{/each}}
                  {{/select}}
               </select>
               <input class="dynamic-filter weaponRange" type="text" data-filter="weaponRange" value="{{filters.dynamic.weaponRange.value}}"/>
            </div>
         </div>
         <div class = "melee" style = "display: none;">
            Melee
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "melee" {{checked filters.dynamic.melee.value}}></input>
            </div>
         </div>
         <div class = "ranged" style = "display: none;">
            Ranged
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "ranged" {{checked filters.dynamic.ranged.value}}></input>
            </div>
         </div>
         <div class = "twohanded" style = "display: none;">
            Is Two Handed
            <div>
               <input class="boolean-filter" type = "checkbox" data-filter = "twohanded" {{checked filters.dynamic.twohanded.value}}></input>
            </div>
         </div>
      </div>
      <div class ="query-results">
         <h2>Items</h2>
         <ol class = "item-list save-scroll">
            {{#each items as |item i|}}
            <li class = "browser-item" data-item-id = {{item._id}} data-filter-id = {{item.filterId}}>
               <div class="image" style="background-image: url({{item.img}})"></div>
               <a>
                  <div class = "item-name">{{item.name}}</div>
               </a>
            </li>
            {{/each}}
         </ol>
      </div>
   </div>